<div class="container">
  <div class="day">
    <h2>Mon</h2>
    <div class="icon"></div>
    <h2>9°</h2>
    <p>Raining</p>
  </div>
  <div class="day">
    <h2>Mon</h2>
    <div class="icon"></div>
    <h2>9°</h2>
    <p>Raining</p>
  </div>
  <div class="day">
    <h2>Mon</h2>
    <div class="icon"></div>
    <h2>9°</h2>
    <p>Raining</p>
  </div>
  <div class="day">
    <h2>Mon</h2>
    <div class="icon"></div>
    <h2>9°</h2>
    <p>Raining</p>
  </div>
  <div class="day">
    <h2>Mon</h2>
    <div class="icon"></div>
    <h2>9°</h2>
    <p>Raining</p>
  </div>
</div>
