.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.weather{
  background-color: royalblue;
  display: flex;
  justify-content:space-between;
  position: fixed;
  width: 100vw;
}

.container1 {
  background-color:rgb(197, 188, 182);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5em 0 0 1em ;
  padding: 1em;
  min-width: 30vw;
  min-height: 30vh;

  h2 {
    text-align: center;
  }

  .container1a{
    display:flex;
    background-color: rgb(214, 214, 66);
    text-align: center;
    justify-content: space-around;
    align-items: center;
    line-height: 1.5em;

    .container1a1 {
    padding: 0 1em;
    }

    .container1a2 {
      padding: 0 1em;
    }


    .sepbar {
      background-color: lightcoral;
      width: 2px;
      height: 50px;
    }
  }

}

.container2 {
  background-color: salmon;
  margin: 2em 1em 0 0 ;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .header-container {
   text-align: center;

  }

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      margin-bottom: 1em;
    }


    input {
      width: 80%;
      outline: none;
      text-align: center;
      margin: 0 0 3px 0;
      line-height: 2em;
      border-radius: 5px;
      border: none;

      opacity: 0.3;
      transition: opacity 0.5s;

      &:hover{
        opacity: 0.8;
      }

      &:focus{
        opacity: 1;
      }

    }
    button {
      width: 80%;
      margin: 0 auto;
      text-transform: uppercase;
      letter-spacing: 5px;
      outline: 0;
      border-radius: 5px;
      background-color: orchid;
      border: none;
      color: #ffffff;
      cursor: pointer;
      line-height: 2em;

      box-shadow: 0 3px 0 red;

      &:active {
        box-shadow: none;
      }
    }
  }
}



.forecast {
  background-color:sandybrown;
  flex-grow: 2;
  position: relative;
  top: 5;
  z-index: -1;
}


