<div class="container">
  <div class="weather">
    <div class="container1">
      <h1>12</h1>
      <h2>Cloudy</h2>
      <div class="container1a">
        <div class="container1a1">
          <p>Humidity</p>
          <p>64%</p>
        </div>
        <div class="sepbar"></div>
        <div class="container1a2">
          <p>Wind</p>
          <p>12 km</p>
        </div>
      </div>
    </div>
    <div class="container2">
      <h1>France</h1>
    </div>
  </div>

  <div class="forecast">
    <app-forecast [forecast]="forecastW"></app-forecast>
  </div>

</div>
