<div class="container">
  <div class="weather">
    <div class="container1">
      <h1 *ngIf="curWeather">{{curWeather?.main?.temp | number: '1.0-0'}}°</h1>
      <h2>{{curWeather?.weather[0]?.description | titlecase}}</h2>
      <div class="container1a">
        <div class="container1a1">
          <p>Humidity</p>
          <p>{{curWeather?.main?.humidity}}%</p>
        </div>
        <div class="sepbar"></div>
        <div class="container1a2">
          <p>Wind</p>
          <p>{{ curWeather?.wind?.speed * 3.6 | number: '1.0-0' }} km</p>
        </div>
      </div>
    </div>
    <div class="container2">
      <h1>France</h1>
    </div>
  </div>

  <div class="forecast">
    <app-forecast [forecast]="forecastWeather"></app-forecast>
  </div>

</div>
