<!-- <input #searchcity type="text" (keyup.enter)="getWeather(searchcity.value)" > -->

<form [formGroup]="weatherSearchForm" (ngSubmit)="getWeather(weatherSearchForm.value)">
  <div class="form-group">
    <input type="text"
            class="form-control"
            id="weatherLocation"
            aria-describedby="weatherLocation"
            placeholder="Enter City Name"
            formControlName="location"
            >
  </div>
  <div class="text-center">
    <button type="submit">
      Search
    </button>
  </div>
</form>
