/* Add application styles & imports to this file! */

/* Application-wide Styles */



*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

p {
  font-family: Lato;
}


h1 {
  font-family: Lato;
}
h2,
h3 {
  font-family: Lato;
  // font-weight: lighter;
}

// body {
//   margin: 1em;
// }
body,
input[type="text"],
button {
  font-family: Lato;
}
/* everywhere else */
* {
  font-family: Lato;
}

